* {
    margin: 0;
    padding:0;
}
html {
    min-width: 100%;
    min-height: 100%;
}
body {
    background-image: url('/Images/background.jpg');
    
}
p, h4 {
    font-family: 'Indie Flower', cursive;
}

.page-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.player-box-container { 
    display: grid;
    grid-template-areas: 'playerName btn'
                        'winCount btn';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: absolute;
    left: 0px;
    top:0px;
    width: 20%;
    min-height: 13%;
    border-top-right-radius: 20%;
   
    border-bottom-right-radius: 20%;
    
    background-color: rgba(255, 255, 255, .7);
}
.player-title {
    grid-area: playerName;
    font-size: 1em;
    margin: auto;
    position: relative;
}
.winCount {
    margin: auto;
    grid-area: winCount;
   
}
.userChoice {
    display: flex;

    margin: auto;
    
    grid-area: btn;
    
    position: absolute;
}

.dropup {
    position: absolute;
    display:flex;
    
    margin: auto;


}
.dropup-content {
    display: none;
    position: relative;
    z-index: 1;
}
.dropup-content a {
    display: flex;
}
.dropup:hover .dropup-content {
    display: flex;
}
img {
    margin: auto;
    margin-top:20%;
    height: auto;
    width:auto;
    max-width:4.5em;
    
}
/*
.dropup {
    
    position:relative;
   
    display: none;

}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    min-width: 160px;
    z-index: 1;
}
.dropup-content a {
    text-decoration: none;
    display: none;
}

 */
.cpu-box-container {
    display: grid;
    grid-template-areas:'cpu-title cpuChoice'
    'cpuWinCount cpuChoice';

    position: absolute;
    right:0px;
    bottom:0px;
    min-height: 13%;
    width: 20%;
    border-style: dotted;
 
    background-color: yellow;
}
.cpu-title {
    grid-area: cpu-title;
    font-size: 1em;
    margin: auto;
    
    position: relative;
    
   
}
.cpuChoice {
    grid-area: cpuChoice;
    border-style: dotted;
    margin: auto;

}
.cpuWinCount {
    grid-area: cpuWinCount;
    
    margin: auto;
   
    
}
.result-container {
    
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    width: 70%;
    height: 10%;
   /* border-style: dotted;
    background-color: green;
    */
}
.animation-container {
    
   
    
    position: absolute;
    top: 20%;
   
    
    height: 60%;
    width: 55%;
    max-width: 60%;
    /*
    border-style: dotted;
   
    background-color: white;
    */
    
}
