* {
    margin: 0;
    padding:0;
}
html {
    min-width: 100%;
    min-height: 100%;
}
body {
    background-color: rgba(0, 0, 0, .3);
    
}

.page-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.player-box-container { 
    display: grid;
    grid-template-areas: 'playerName btn'
                        'winCount btn';

    position: absolute;
    left: 0px;
    top:0px;
    width: 20%;
    height: 10%;
    border-style: dotted;
    background-color: rgba(255, 255, 255, .7);
}
.player-title {
    grid-area: playerName;
    font-size: 1em;

    position: relative;
    border-style: dotted;

}
.winCount {
    grid-area: winCount;
    border-style: dotted;
}
.userChoice {
    grid-area: btn;
    border-style: dotted;
}


.cpu-box-container {
    

    position: absolute;
    right:0px;
    bottom:0px;
    height: 10%;
    width: 20%;
    border-style: dotted;
 
    background-color: yellow;
}
.result-container {
    
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    width: 70%;
    height: 10%;
    border-style: dotted;
    background-color: green;
}
.animation-container {
    
   
    
    position: absolute;
    top: 20%;
   
    
    height: 60%;
    width: 55%;
    max-width: 60%;
    border-style: dotted;
   
    background-color: blue;
    
}
